@model CarStore.Models.CartIndexViewModel

@{
    ViewBag.Title = "Car Store: Your basket";
}

<h2>Your basket</h2>

<table class="table">
    <thead>
        <tr>
            <th>car</th>
            <th class="text-right">Price</th>
            <th>Amount</th>
            <th class="text-right">Edit</th>
            <th class="text-right">Total Price</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.Cart.Lines)
    {
        <tr>
            <td class="text-left">@line.Car.Name</td>
            <td class="text-right">@line.Car.Price.ToString("# руб")</td>
            <td class="text-center">@line.Quantity</td>
            <td style="display:flex; justify-content:space-evenly">
                @if (line.Quantity == 1)
                {
                    <button  class="btn btn-default btn-primary selected" disabled>-</button>
                }
                else
                {
                    using (Ajax.BeginForm("MinusQuantityCarInSession", "Cart", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        Url = "https://localhost:44319/Cart/MinusQuantityCarInSession"
                    }, new { style="width:30%;"}))
                    {
                        <input type="hidden" class="hidden_filds" name="id_car"
                               value="@line.Car.CarId">
                        <input type="hidden" class="hidden_filds" name="id_quantity" value="@line.Quantity">
                        <button  class="btn btn-default btn-primary selected">-</button>
                    }

                }
                @if (line.QuantityInDB <= line.Quantity)
                {
                    <button  class="btn btn-default btn-primary selected" disabled>+</button>
                }
                else
                {
                    using (Ajax.BeginForm("AddQuantityCarInSession", "Cart", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        Url = "https://localhost:44319/Cart/AddQuantityCarInSession"
                    }, new { style = "width:30%;" }))
                    {
                        <input type="hidden" class="hidden_filds" name="id_car"
                               value="@line.Car.CarId">
                        <input type="hidden" class="hidden_filds" name="id_quantity" value="@line.Quantity">
                        <button class="btn btn-default btn-primary selected" type="submit">+</button>
                    }

                }
            </td>
            <td class="text-right">
                @((line.Quantity * line.Car.Price).ToString("# руб"))
            </td>
            <td>
                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {
                    @Html.Hidden("CarId", line.Car.CarId)
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                }
            </td>
        </tr>
    }
    
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Итого:</td>
        <td class="text-right">
            @Model.Cart.ComputeTotalValue().ToString("# руб")
        </td>
    </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
    @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-primary" })

</div>


