@using CarStore.Models
@model CarStore.Domain.Entities.Car


<div class="well">
    @if (Model.ImageData != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="75" height="75"
                 src="@Url.Action("GetImage", "Car",
                          new { Model.CarId })" />
        </div>
    }

    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("# руб")</span>
    </h3>
    @if (Model.Quantity != 0)
    {
        using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.CarId)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                @{ 
                    bool head = false;
                    var carList = (List<CarForSession>)Session["list_cars"];
                    if(carList != null)
                    {
                        var car = carList.Find(item => item.Id == Model.CarId);
                        if (car != null) { head = true; }
                    }
                }
                @if(head == true)
                {
                    <input type="submit" class="btn btn-success" value="Товар уже в корзине" disabled/>
                }
                else
                {
                    <input type="submit" class="btn btn-success" value="Добавить в корзину" />
                }
            </div>
        }
    }
    else
    {
        using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.CarId)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Добавить в корзину" disabled/>
            </div>
        }
    }
    <span class="lead">@Model.Description</span>
</div>