@model IEnumerable<CarStore.Domain.Entities.ShippingDetails>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
       
        
    </tr>
}

</table>
