@model IEnumerable<CarStore.Domain.Entities.ShippingDetails>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Заказы</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Line1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Line2)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Line1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Line2)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        
        <td>

            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @using (Ajax.BeginForm("Details", "Admin", new AjaxOptions
            {
                HttpMethod = "GET",
                Url = "https://localhost:44319/Admin/Details"
            }, new { @class = "form" }))
            {
                <input type="hidden" class="hidden_filds" name="personId"
                       value="@item.Line1" />
                <div class="button-inner">
                    <button type="submit">Details</button>
                </div>
            }
        </td>
    </tr>
}

</table>
